* {
  font-family: 'Courier New', Courier, monospace;
}

body, 
html {
  width: 100%;
}

.bodyBadVibes {
  background-color: rgb(1, 1, 1);
}

/* container formatting */
#myContainer2 {
  margin-top: -30px;
  margin-bottom: 15vh;
  background-size: 100%;
}

.top-container {
  margin-right: 2vw;
  margin-left: 2vw;
}

.bottom-container {
  width: 100%;
}

/* cards layout formatting */
.sadCard,
.gifCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(33, 21, 28);
  height: 780px;
  border-radius: 2em;
  padding: 10px;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.gifCard {
  background-image: url('https://media.giphy.com/media/4a3H8IOJjywI8UKx9w/giphy.gif');
  background-size: cover;
  overflow: hidden;
}

.angry-music-card {
  padding: 10px;
  display: block;
  overflow: hidden;
  width: 350px;
  height: 780px;
  border-radius: 20px;
  transform: translateZ(0px);
  background-color: rgb(33, 21, 28);
  margin-bottom: 2vh;
  margin-top: 2vh;
}

#spotifyPlayer {
  border-radius: 3em;
}

/* images inside card formatting */
#sadPic {
  height: 400px;
  border-radius: 2em;
}

/* texts inside card formatting */
.jokeSetup {
  font-size: 20px;
  color: white;
  margin: 5px;
}

.jokePunchline {
  font-weight: bold;
  font-size: 20px;
  color: maroon;
  margin: 5px;
}

/* click button formatting */
#click-quote2 {
  background-color: rgb(247, 4, 29);
  color: white;
  font-weight: bold;
  border-radius: 2em;
}


/* email formatting */
.email-form {
  display: flex;
  margin-top: 50px;
  align-content: center;
  width: 55vw;
}

#example-input-mail1 {
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.subscribeButton {
  font-weight: bold;
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
  background-color: rgb(247, 4, 29);
}

/* link formatting */
#linkToGoodVibes, 
#linkToGoodVibes2 {
  font-weight: bold;
  color: white;
  background-image: url("https://media.giphy.com/media/6wpHEQNjkd74Q/giphy.gif");
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 40vw;
  border: 3px solid black;
}

@media only screen and (max-width: 1070px) {
  .email-form {
    flex-direction: column;
  }
}
